<div class="content">
  <div class="img">
    <span class="classeName">
      {{assignment.getClasse().getName()}}
    </span>
    
  </div>
  <div class="infos" (click)="setOpen(true)">

    <div class="top">
      {{assignment.getTitle()}}  
      <ion-badge color="success"></ion-badge>
    </div>
    <div class="bottom">
      <span class="inf">Date limite :
        <span class="val">{{assignment.getExpirationDate() |date :"dd MMM yyyy"}}</span>
      </span>
      <span class="inf">Fichier :
        <span class="val">{{assignment.getFileType()}}</span>
      </span>
      <span class="inf" id="rendu">RENDU </span>
    </div>

  </div>
</div>


<ion-modal [isOpen]="isModalOpen" mode="ios">
  <ng-template>
    <ion-header>
      <div color="primary" id="topBar">
        <ion-button id="menu_btn" color="#FFFFFF" mode="ios" (click)="setOpen(false)">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
    
        <span id="page_title">DEVOIRS</span>
        
        <ion-avatar>
          <ion-img src="../assets/Account.svg"></ion-img>
        </ion-avatar>
      </div>
    </ion-header>

    <ion-content class="ion-padding">

      <div class="img">
        <span class="classeName">
          {{assignment.getClasse().getName()}}
        </span>
      </div>

      <div class="sub-info">
        <div class="date">
          Depuis le : {{assignment.getDateGiven() |date :"dd MMM yyyy"}}<br>
          Jusqu'au : {{assignment.getExpirationDate() |date :"dd MMM yyyy"}}
        </div>
        <a href="{{assignment.getDocument().getDocLink()}}" download> 
          <div class="download" *ngIf="assignment.getDocument().getDocLink()">
            inclue un fichier
            <ion-icon name="download-outline"></ion-icon>
          </div>
        </a>
        <div class="type">
          {{assignment.getFileType()}}
        </div>

      </div>
      
      <div class="description">

        <h3>{{assignment.getTitle()}}</h3>

        <p>
          {{assignment.getDescription()}}
        </p>

      </div>
      <div class="bottom">
        <div class="input-content">
          <ion-icon name="document-attach" color="primary" class="doc-icon"></ion-icon>
          <span class="ftype">{{assignment.getFileType()}} :</span>
          <input type="file" class="inp" placeholder="Fichier" [(ngModel)]="file">
        </div>
        <ion-button class="send-btn" color="#FFFFFF"  (click)="send()">
          <ion-icon name="paper-plane" class="send-icon"></ion-icon>
              Envoyer   
        </ion-button>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

