<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>

      <ion-item routerLink="/assignment.page">
          <ion-icon name="book" color="primary"></ion-icon>
        <span class="message-MENU">MES DEVOIRS</span>
        <span class="bage"></span>
      </ion-item>

      <ion-item routerLink="/evaluations-display">
          <ion-icon name="clipboard" color="secondary"></ion-icon>
        <span class="message-MENU">MES EVALUATIONS</span>
        <span class="bage"></span>
      </ion-item>

      <ion-item routerLink="/cours.page">
          <ion-icon name="easel" color="danger"></ion-icon>
        <span class="message-MENU">MES CLASSES</span>
        <span class="bage"></span>
      </ion-item>

      <ion-item>
          <ion-icon name="person" color="success"></ion-icon>
        <span class="message-MENU">MES INFORMATIONS</span>
        <span class="bage"></span>
      </ion-item>

      <ion-item>
          <ion-icon name="notifications" color="warning"></ion-icon>
        <span class="message-MENU">MES NOTIFICATIONS</span>
        <span class="bage"></span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>


<ion-content [fullscreen]="true">

  <div color="primary" id="topBar">
    <ion-menu-button  id="menu_btn" color="#FFFFFF" mode="ios">
      <ion-icon name="menu-outline"></ion-icon>
    </ion-menu-button >

    <span id="page_title">DEVOIRS</span>
    
    <ion-avatar>
      <ion-img src="../assets/Account.svg"></ion-img>
    </ion-avatar>
  </div>

  <div class="filter-bar">
      <div class="option" id="popover-button"> Trier par : 
        <span class="choix"> Date d'expiration </span>
      </div>
      <div class="option"> <ion-checkbox>Devoirs a rendre : </ion-checkbox> </div>          

      <ion-popover trigger="popover-button" [dismissOnSelect]="true" mode="ios">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item [button]="true" [detail]="false">Date d'expiration</ion-item>
              <ion-item [button]="true" [detail]="false">Date d'envoi</ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
  </div>

  <ion-list class="devoir">
    <app-assignment-cmp *ngFor="let assignment of assignments" [Assignment]="assignment"></app-assignment-cmp>
  </ion-list>

</ion-content>
