<ion-content [fullscreen]="true" color="primary">
  <ion-header collapse="condense"></ion-header>

  <div color="primary" id="topBar">
    <ion-img id="logo" src="../assets/ClassWork.svg"></ion-img>
  </div>

  <div class="content">
    <div class="pan">

        <span class="form-title"> 
          <!-- <p class="title">Bienvenue!</p> -->
          Inscrivez vous a Classwork pour continuer
        </span>
        
        <span class="panInput">

          <ion-item>
            <ion-input label="Mom et Prenom" fill="outline" labelPlacement="floating" placeholder="" [(ngModel)]="Name" (ngModelChange)="check()"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Email" fill="outline" labelPlacement="floating" placeholder="" [(ngModel)]="Email" (ngModelChange)="check()"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Matricule" fill="outline" labelPlacement="floating" placeholder="" [(ngModel)]="Matricule" (ngModelChange)="check()"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Mot de passe" fill="outline" labelPlacement="floating" placeholder=""[(ngModel)]="Pass" (ngModelChange)="check()"></ion-input>
          </ion-item>
        </span>

        <span class="panFooter">

          <ion-button expand="block" (click)="send()" [disabled]="!isValid">S'Inscrire</ion-button>

          <p>Vous avez deja un compte ? <a routerLink="/login" >Se Connecter</a> </p>

          <span class="copyrigth"> <span class="c">C</span> opyright 2023 par Classwork.</span>

        </span>

    </div>
  </div>
</ion-content>
